<div class="wrapper">


<table style="width:100%">
  <tr>
    <th>id</th>
    <th>Image</th>
    <th>short story</th>
  </tr>



  <% @eronotes.each do |e| %>
  <tr>
    <td><%= e.id%></td>
    <td><%= image_tag e.eromage.to_s%></td>
    <% if e.body?%>
    <td><%= e.body %></td>
  </tr>
  <% end %>

  <% end %>
</table>
</div>
