// Place all the styles related to the eronotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables' ;

.wrapper{
  width:500px;
  font-family: "Untitled Sans";
  color: $mycolor;
  margin: 0 auto;
  margin-top: 100px;

}

.form{
  margin-top: 100px;

}

.link-1 , .link-2 {
  color: $mycolor;
  a{
    color: $mycolor;
    text-decoration: none;
    &:visited { color: $mycolor}
  }
}

.bottom{
  margin: 0 auto;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  width: 300px;
  font-family: "Untitled Sans";
  text-transform: uppercase;

}

.illustration{width: 51px;}
.hidden{display: none;}
.show{display: flex;}

//////////////////////// BUTTONS //////

#browse-btn , #upTxt{
  padding: 15px;
  padding-left: 0px;
  display: inline-block;
  cursor: pointer;
}
#browse-btn{
  padding-top: 0px;
}



#customTxt{
  color: grey;
  cursor: default;
}

#upTxt{
  color:rgb(50,50,50);
}

#remove{
  margin-left: 20px;
  cursor: pointer;
  padding: 3px;
    &:hover{color: red;
}}
/////////
textarea{
  -webkit-appearance: none;
  border: none;
  border-top: dotted 1px $mycolor;
  border-bottom: dotted 1px $mycolor;
  background-color: transparent;
  width: 100%;
  color:$mycolor;
  resize: none;
  padding-top: 10px;
  font-family: "Untitled Sans";


}

textarea:focus {
    outline: none !important;
}

/////
.back-link{
  a{color: $mycolor; text-decoration: none;
  &:visited{color: $mycolor; text-decoration: none;}
  }
}

//////////
.question{
  color: red;
}

#mailus{
  a{color: $mycolor;

  }
}

.abouttile{
  font-size: 22px;
}

.faq{
  margin-top: 40px;
}

.up{
  position: relative;
  bottom: 0;
  // margin: 0 auto;
  margin-top: 50px;
}
